# --- Data & Database ---
# Không đẩy dữ liệu thô và database lên vì nó rất nặng và thay đổi liên tục
data/*.csv
data/*.db
*.db

# --- Airflow ---
# Logs của Airflow cực kỳ nhiều file nhỏ, không bao giờ nên push lên
logs/
airflow.cfg
webserver_config.py
unittests.cfg
*.pid

# --- dbt ---
# Thư mục chứa code đã compile và các gói cài thêm của dbt
target/
dbt_packages/
logs/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- OS & IDE ---
.DS_Store
.vscode/
.idea/